@using System.Linq
@using System.Collections.Immutable
@using Wyam.Modules.Razor.Microsoft.AspNet.Html.Abstractions
@{
	var posts = Model.Get<ImmutableArray<IDocument>>("GroupDocuments");
	
	var format = Model.Get("HeadingFormat", "MMMM yyyy");
	var heading = posts.First().Get<DateTime>("wp_post_date_gmt").ToString(format);
	
	Func<IDocument, IHtmlContent> excerpt = (doc) =>
	{
		return Html.Raw(Html.Excerpt(doc.Get<string>("Excerpt"), 50, " [&hellip;]"));
	};
}

<header>
	<h2>Blog archive</h2>
	<h3>@heading</h3>
</header>

<ul>
	@foreach(IDocument post in posts.OrderBy(x => x.Get<DateTime>("wp_post_date_gmt")).ThenBy(x => x.String("title")))
	{
		<li>
			<div>
				<h4><a href="/@(post.Get<string>("RelativeFilePath").Replace("\\", "/").Replace("/default.html", "/"))" rel="bookmark">@post["title"]</a></h4>
				<p>@(excerpt(post))</p>
				<p><span>Posted on <time datetime="@(post.Get<DateTime>("wp_post_date_gmt").ToString("yyyy-MM-ddTHH:mm"))">@(post.Get<DateTime>("wp_post_date_gmt").ToShortDateString())</time></span></p>
			</div>
		</li>
	}
</ul>