@{
	var dateFormat = Model.String("ArchiveDateFormat");
	var archiveDate = Model.String("ArchiveDate");

	var archivePosts = Documents
		.WhereContainsKey("date")
		.Where(x => x.Get<DateTime>("date").ToString(dateFormat) == archiveDate)
		.OrderBy(x => x.Get<DateTime>("date"));
}

<section>
	<header>
		<h1>@Model.String("title")</h1>
	</header>
	<ol class="listing">
	@foreach (var year in archivePosts.GroupBy(x => x.Get<DateTime>("date").Year))
	{
		foreach (var month in year.GroupBy(x => x.Get<DateTime>("date").ToString("MMMM")))
		{
			ViewData["PostListDocuments"] = month;
			<li>
				<h2>@month.Key @year.Key</h2>
				@Html.Partial("~/_layouts/postListing.cshtml")
			</li>
		}
	}
	</ol>
</section>

@Html.Partial("_layouts/archiveListing")
