@{
	var years = Documents
		.WhereContainsKey("date")
		.Select(x => x.Get<DateTime>("date"))
		.GroupBy(x => x.Year);
}

<section id="date-archive">
	<header>
		<h2>Year archive</h2>
	</header>
	<ol class="years">
		@foreach (var year in years.OrderByDescending(x => x.Key))
		{
			var yearCount = year.Count();
			<li>
				<a href="/@year.Key/" title="@yearCount @(yearCount == 1 ? "post" : "posts") published in @year.Key">@year.Key</a>
				<ol class="months">
					@foreach (var month in year.GroupBy(x => x.Month).OrderBy(x => x.Key))
					{
						var monthDate = month.First();
						var monthCount = month.Count();
						var monthName = monthDate.ToString("MMMM");
						<li>
							<a href="@monthDate.ToString("/yyyy/MM/")" title="@monthCount @(monthCount == 1 ? "post" : "posts") published in @monthName @monthDate.Year">@monthName</a>
						</li>
					}
				</ol>
			</li>
		}
	</ol>
</section>

<section id="tag-archive">
	<header>
		<h2>Tag archive</h2>
	</header>
	<p><a href="/tag/">View all tags</a>.</p>
</section>
