@{
	Layout = @"~/_layouts/_layout.cshtml";
	
	var date = Model.Get<DateTime>("date");
	var readingTime = Model.Get<ReadingTimeMeta>(ReadingTimeKeys.ReadingTime);
	
	Func<IDocument, object> getTags = (doc) =>
	{
		if (!doc.ContainsKey("tags"))
			return null;
			
		var tags = doc.Get<string[]>("tags");
		var items = new List<string>();

		foreach (var tag in tags)
		{
			items.Add(string.Format("<a href=\"/tag/{1}/\" rel=\"tag\">{0}</a>", tag, tag.ToLowerInvariant().Replace(' ', '-')));
		}

		return Html.Raw(string.Join(", ", items));
	};
}

<div>
	<article class="h-entry">
		<header>
			<h1 class="p-name">@Html.Raw(Model.String("title"))</h1>
			<p class="meta">
				<span>Posted on <time datetime="@date.ToString("yyyy-MM-ddTHH:mm")" class="dt-published">@date.ToString("dd/MM/yyyy")</time>.</span>
				<span>Estimated read time:  @(readingTime.Minutes <= 1 ? "under a minute" : $"{readingTime.Minutes.ToString("#,#")} minutes") (@(readingTime.Words.ToString("#,#")) words)</span>
			</p>
		</header>
		<div class="e-content">
			@RenderBody()
		</div>
	</article>
	<aside>
		<p class="tags"><span>Tags:</span> @getTags(Model)</p>
	</aside>
	@Html.Partial("~/_layouts/disqusComments.cshtml")
</div>