title: All Tags
permalink: /tag/
---
@{
	var docs = Documents
		.WhereContainsKey("tags")
		.WhereContainsKey("date");
	
	var documentsByTag = new Dictionary<string, List<IDocument>>(StringComparer.InvariantCultureIgnoreCase);
	
	foreach (var doc in docs)
	{
		var tags = doc.Get<string[]>("tags");
		
		foreach (var tag in tags)
		{
			if (documentsByTag.ContainsKey(tag) == false)
			{
				documentsByTag.Add(tag, new List<IDocument>() { doc });
			}
			else
			{
				documentsByTag[tag].Add(doc);
			}
		}
	}

	Func<int, string> cssClass = (count) =>
	{
		if (count >= 25)
		{
			return "ultra-popular";
		}
		else if (count >= 20)
		{
			return "very-popular";
		}
		else if (count >= 15)
		{
			return "popular";
		}
		else if (count >= 10)
		{
			return "somewhat-popular";
		}
		else if (count >= 5)
		{
			return "less-popular";
		}
		
		return "not-popular";
	};
}

<section>
	<header>
		@Model.String("title")</h1>
		<p>Here is a listing of all the tags used on my blog posts; presented in descending order, from the most used to the least used.</p>
	</header>
	<ol>
		@foreach(var group in documentsByTag.OrderByDescending(x => x.Value.Count).ThenBy(x => x.Key))
		{
			var count = group.Value.Count();
			var link = @MyHelper.CleanTag(group.Key);
			
			<li class="@cssClass(count)">
				<span>@count @(count == 1 ? "post is" : "posts are") tagged with </span>
				<a href="/tag/@link/"><em>@group.Key</em></a>
			</li>
		}
	</ol>
</section>
